---
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: 'true'
ColumnLimit: '120'
CompactNamespaces: 'false'
ContinuationIndentWidth: '4'
Cpp11BracedListStyle: 'true'
FixNamespaceComments: 'true'
IncludeBlocks: 'Regroup'
IncludeIsMainRegex: '$'
IncludeCategories:
  - Regex: '^<((GL/gl|aio|arpa/inet|assert|complex|ctype|dirent|dlfcn|errno|fcntl|fenv|float|fmtmsg|fnmatch|ftw|getopt|glob|grp|iconv|inttypes|langinfo|libgen|limits|locale|math|monetary|mqueue|ndbm|net/if|netdb|netinet/in|netinet/tcp|nl_types|poll|pthread|pwd|regex|sched|search|semaphore|setjmp|signal|spawn|stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|string|strings|stropts|sys/ioctl|sys/ipc|sys/mman|sys/msg|sys/resource|sys/select|sys/sem|sys/shm|sys/socket|sys/stat|sys/statvfs|sys/time|sys/times|sys/types|sys/uio|sys/un|sys/utsname|sys/wait|syslog|tar|termios|tgmath|threads|time|uchar|unistd|utime|utmpx|wchar|wctype|wordexp)\.h)>$' # C, POSIX, and platform system headers only
    Priority: 1
  - Regex: '^<[a-z][a-z0-9_]*>$' # C++ standard library headers without extension
    Priority: 2
    CaseSensitive: true
  - Regex: '^<.*>$' # Other libraries
    Priority: 3
  - Regex: '^".*"' # Project headers
    Priority: 4
IndentCaseLabels: 'true'
IndentPPDirectives: BeforeHash
IndentWidth: '4'
PointerAlignment: Left
SortIncludes: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: ControlStatements
TabWidth: '4'

...
